body {
  padding-top: 50px;
}
.content {
  padding: 50px 15px;
  text-align: center;
}
article.artcl {
    padding: 10px;
    text-align: left;
}
td.cvjob {
    width: 23em;
}
td.cvdate {
    width: 6em;
}
td.cvjobdesc {
    font-style: italic
}
#quickfacts th {
    text-align: right;
    padding-right: 0.5em

}