@main("This Site - Technically Speaking", "thisSite") {

<article class="artcl">
<p>This is a <a href="http://www.playframework.com">Play 2</a> site hosted by <a href="http://heroku.com">Heroku</a>.</p>

<p>I don't actually have much experience with Play, besides one short university project (which used to reside on the private git server of a colleage, but unfortunately is gone by now), but I remembered it as a nice and clean MVC framework and since I had played around with Scala for some time I decided to do this site in Play.</p>

<p>I have not yet come to regret this decision. Even though technically the whole site is one compiled program (yes, even the HTML content you are reading!), one just gets to make a little change and hit refresh, as in dynamic languages like PHP. But additionally, there are all the advantages of static typing catching bugs and of a nice templating language akin to PHP or JSP. Plus, you get to write code for everything in Scala, which is a good, expressive, functional language.
</article>

}
